* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  box-shadow: 0 -5px 25px gray;
}
#result {
  display: none;
  font-size: 5pt;
}
#yes {
  display: none;
  font-size: 20pt;
  font-weight: bold;
}
#no {
  display: none;
  font-size: 20pt;
  font-weight: bold;
}
#ketqua {
  font-size: 20pt;
  font-weight: bold;
}
#reset {
  font-size: 20pt;
  font-weight: bold;
}
